@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Whoops!</h1>
<h2 class="text-danger">The page you were looking for does not exist.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Don't panic!</h3>
<p>
    Just click <a href="/Home/Products"><strong>here</strong></a> to continue browsing our fine selection of products.
</p>